<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Quản lý Tài khoản</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="horizontal-container">
    <ion-button mode="ios" routerLink="/main/account-management/user">
      <ion-icon name="person-outline"></ion-icon>
      <span>Người dùng</span>
    </ion-button>
    <ion-button mode="ios" routerLink="/main/account-management/admin">
      <ion-icon name="cog-outline"></ion-icon>
      <span>Admin</span>
    </ion-button>
  </div>
</ion-content>
