<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Thông tin nhận diện</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="identification">
    <ion-list>

      <ion-item (click)="modify('logo')">
        <ion-label>
          <span class="primary-key">Logo</span>
        </ion-label>
        <div class="width-space"></div>
        <div class="value horizontal-container">
          <img height="40" width="40" src="{{ identification.logo.srcThumbnail | galleryRoute }}" alt="{{ identification.logo.srcThumbnail | galleryRoute }}">
        </div>
      </ion-item>
      
      <ion-item (click)="modify('phoneNumber')">
        <ion-label>
          <ion-text class="primary-key">Số điện thoại</ion-text>
        </ion-label>
        <div class="width-space"></div>
        <div class="value horizontal-container secondary-key">
          <ng-container *ngFor="let phoneNumber of identification.phoneNumber; let i = index">
            <span *ngIf="phoneNumber.isMain">{{ phoneNumber.number }}</span>
          </ng-container>
        </div>
      </ion-item>

      <ion-item (click)="modify('socialNetworking')">
        <ion-label>
          <ion-text class="primary-key">Mạng xã hội</ion-text>
        </ion-label>
        <div class="width-space"></div>
        <div class="value horizontal-container">
          <div
            class="social-container"
            *ngFor="let social of identification.social; let i = index; let last = last;"
          >
            <div class="social-networking-item horizontal-container {{ social.name }}">
              <ion-icon src="../../../../assets/logo/svg/{{ social.name }}.svg"></ion-icon>
            </div>
          </div>
        </div>
        
      </ion-item>

      <ion-item (click)="modify('address')">
        <ion-label>
          <span class="primary-key">
            Địa chỉ
          </span>
        </ion-label>
        <div class="width-space"></div>
        <div class="value horizontal-container">
          <div
            class="social-container"
            *ngFor="let address of identification.address; let i = index;"
          >
            <span *ngIf="address.isHeadquarters">{{ address.street +', '+ address.ward.name +', '+ address.district.name +', '+ address.province.name}}</span>
          </div>
        </div>
      </ion-item>
      
    </ion-list>
  </ng-container>
</ion-content>
