.product-category-container{
    height: 100%;
    overflow-y: hidden;
    form{

    }

    .image-show-container{
        overflow-y: scroll;
    }

    .submit-form{
        width: 150px;
        min-height: 30px;
    }
}

.input-image-hidden{
    display: none;
}