<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>identification-information-detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="routeParam" [ngSwitch]="routeParam">
    <app-logo *ngSwitchCase="'logo'"></app-logo>
    <app-phone-number *ngSwitchCase="'phoneNumber'"></app-phone-number>
    <app-social-networking *ngSwitchCase="'socialNetworking'"></app-social-networking>
    <app-address *ngSwitchCase="'address'"></app-address>
  </ng-container>
</ion-content>
