.post-modify-container {
  form{
    ion-list{
      padding: 0;
      ion-item{
        ion-input{
          text-align: right;
        }
      }
    }

    .editor-container{
      background-color: #ededed;
      ngx-editor-menu{
        position: sticky;
        top: 0;
        padding: 15px 0;
        background-color: #ededed;
        z-index: 1;
      }
      ngx-editor{
        padding: 0 15px;
      }
    }

    ion-button[type="submit"]{
      min-height: 30px;
      width: 150px;
    }

  }
}


::ng-deep .NgxEditor__MenuBar{
    flex-wrap: wrap;
}
