<div class="vertical-container product-gallery-container">
  <ion-list>
    <ion-item *ngFor="let productGallery of productGallerys">
      <div class="item-container horizontal-container">
        <div class="horizontal-container">
          <ion-avatar slot="start">
            <img src="{{ productGallery.thumbnail | galleryRoute }}">
          </ion-avatar>
          <div class="mini-width-space"></div>
          <ion-label>
            <h2>{{ productGallery.name }}</h2>
            <h3>{{ productGallery.createdAt | date: 'dd/MM/yyyy HH:mm:ss' }}</h3>
          </ion-label>
        </div>
        <div class="action-container horizontal-container">
          <ion-button
              (click)="navigatorToModify(productGallery)"
          >
            <ion-icon slot="icon-only" name="pencil-outline"></ion-icon>
          </ion-button>
          <ion-button
            (click)="removeProductGallery(productGallery)"
          >
            <ion-icon slot="icon-only" name="remove-circle-outline"></ion-icon>
          </ion-button>
        </div>
      </div>
    </ion-item>
  </ion-list>

  <app-pagination *ngIf="configPagination" [config]="configPagination" (emitChangeIndex)="changeIndex($event)"></app-pagination>
  
  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button color="danger" (click)="navigatorToModify(null)">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</div>