<div class="vertical-container product-gallery-container">
  <ion-list>
    <ion-item *ngFor="let productGallery of productGallerys">
      <ion-avatar slot="start">
        <img src="{{ productGallery.thumbnail | galleryRoute }}">
      </ion-avatar>
      <ion-label>
        <h2>{{ productGallery.productName }}</h2>
        <h3>{{ productGallery.createdAt | date: 'dd/MM/yyyy HH:mm:ss' }}</h3>
      </ion-label>
    </ion-item>
  </ion-list>

  <app-pagination *ngIf="configPagination" [config]="configPagination" (emitChangeIndex)="changeIndex($event)"></app-pagination>
  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button color="danger">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</div>