.logo-container{
    .willupload-container{
        align-items: center;
        ion-icon[name="arrow-forward-outline"]{
            font-size: 30px;
        }
    }
}

.input-image-hidden{
    display: none;
}