<div class="phone-number-container">
  <form *ngIf="myForm" [formGroup]="myForm" (ngSubmit)="updatePhoneNumber()">
    <ion-radio-group (ionChange)="radioGroupChange($event)" [(ngModel)]="isMain" [ngModelOptions]="{standalone: true}">
      <ng-container formArrayName="phoneNumber">
        <ng-container *ngFor="let number of myForm.controls['phoneNumber'].controls; let numberIndex = index;">
          <ion-item [formGroupName]="numberIndex">
            <ion-input type="text" formControlName="number" #inputPhoneNumber></ion-input>
            <ion-radio [value]="numberIndex"></ion-radio>
            <ion-button type="button" slot="end" (click)="removePhoneNumber(numberIndex)">
              <ion-icon slot="icon-only" name="remove-circle-outline"></ion-icon>
            </ion-button>
          </ion-item>
        </ng-container>
      </ng-container>
    </ion-radio-group>
    <div class="add-rows-button horizontal-container">
      <button type="button" class="horizontal-container" (click)="addPhoneNumber()">
        <ion-icon name="add-circle-outline"></ion-icon> Thêm số điện thoại
      </button>
    </div>
    <ion-button type="submit" [disabled]="myForm.invalid">Cập nhật số điện thoại</ion-button>
  </form>
</div>