<ion-split-pane contentId="main-content">
  <ion-menu contentId="main-content" type="overlay" *ngIf="admin">
    <ion-content>
      <ion-list id="inbox-list">
        <ion-list-header>
          <ion-menu-toggle auto-hide="false">
            <ion-item routerLink="/main/account">
              <ion-avatar slot="start">
                <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
              </ion-avatar>
              <ion-label>
                <h3>{{ admin && admin.name ? admin.name : 'Họ và Tên'}}</h3>
                <p>{{ admin && admin.userName ? admin.userName : 'Tài khoản'}}</p>
                <p>{{ permissionName }}</p>
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list-header>

        <ng-container *ngFor="let p of appPages; let i = index">
          <ion-menu-toggle auto-hide="false" *ngIf="admin.permission <= p.permission">
            <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ng-container>

        <ion-item-divider>
          <ion-label>
            Đối Tác
          </ion-label>
        </ion-item-divider>

        <ng-container *ngFor="let p of partner; let i = index">
          <ion-menu-toggle auto-hide="false" *ngIf="admin.permission >= p.permission">
            
            <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
              <ion-avatar slot="start">
                <img [src]="p.logo">
              </ion-avatar>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
            
          </ion-menu-toggle>
        </ng-container>

        <ion-menu-toggle auto-hide="false">
          <ion-item (click)="logout()">
            <ion-icon slot="start" [ios]="'log-out-outline'" [md]="'log-out-sharp'"></ion-icon>
            <ion-label>Đăng xuất</ion-label>
          </ion-item>
        </ion-menu-toggle>

      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-split-pane>
