<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end" (click)="modalController.dismiss()">
      <ion-button>
        <ion-icon slot="icon-only" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Nhập mật khẩu để xác nhận</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Mật khẩu</ion-label>
    <ion-input
      type="password"
      palceholder="Mật khẩu"
      [formControl]="passwordControl"
      #inputPassword
    ></ion-input>
  </ion-item>

  <ion-button
    [disabled]="passwordControl.invalid"
    (click)="modalController.dismiss(passwordControl.value)"
  >Xác nhận</ion-button>
</ion-content>
