<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Thư viện hình ảnh</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="vertical-container gallery-container">
    <ion-segment [(ngModel)]="selection" (ionChange)="segmentChanged($event)">
      <ion-segment-button value="product">
        <ion-label>Sản phẩm</ion-label>
      </ion-segment-button>
      <ion-segment-button value="other">
        <ion-label>Khác</ion-label>
      </ion-segment-button>
    </ion-segment>
    <div [ngSwitch]="selection" class="component-container">
      <app-product-gallery *ngSwitchCase="'product'"></app-product-gallery>
      <app-other-gallery *ngSwitchCase="'other'"></app-other-gallery>
    </div>
  </div>
</ion-content>
