<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Quản lý người dùng</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="user-management-container vertical-container">
    <table mat-table [dataSource]="userList">
        
      <!-- Position Column -->
      <ng-container matColumnDef="email" sticky>
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let element;"> {{element.email}} </td>
      </ng-container>
    
      <!-- Name Column -->
      <ng-container matColumnDef="code">
        <th mat-header-cell *matHeaderCellDef> Mã </th>
        <td mat-cell *matCellDef="let element"> {{element.customerCode}} </td>
      </ng-container>
    
      <!-- Weight Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Tên </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
  
      <!-- Weight Column -->
      <ng-container matColumnDef="phoneNumber">
        <th mat-header-cell *matHeaderCellDef> Số điện thoại </th>
        <td mat-cell *matCellDef="let element"> {{element.phoneNumber}} </td>
      </ng-container>
  
      <!-- Weight Column -->
      <ng-container matColumnDef="allowAccount">
        <th mat-header-cell *matHeaderCellDef> Sử dụng tài khoản </th>
        <td mat-cell *matCellDef="let element">
          <ion-icon name="{{ element.allowAccount ? 'checkmark-circle-outline' : 'close-circle-outline' }}"></ion-icon>
        </td>
      </ng-container>
  
      <ng-container matColumnDef="allowFacebook">
        <th mat-header-cell *matHeaderCellDef> Xác thực Facebook </th>
        <td mat-cell *matCellDef="let element">
          <ion-icon name="{{ element.allowAccount ? 'checkmark-circle-outline' : 'close-circle-outline' }}"></ion-icon>
        </td>
      </ng-container>
  
      <ng-container matColumnDef="allowGoogle">
        <th mat-header-cell *matHeaderCellDef> Xác thực Google </th>
        <td mat-cell *matCellDef="let element">
          <ion-icon name="{{ element.allowAccount ? 'checkmark-circle-outline' : 'close-circle-outline' }}"></ion-icon>
  
        </td>
      </ng-container>
  
      <!-- Weight Column -->
      <ng-container matColumnDef="createdAt">
        <th mat-header-cell *matHeaderCellDef> Thời gian tạo </th>
        <td mat-cell *matCellDef="let element"> {{element.createdAt | date: 'dd/MM/yyyy hh:mm:ss'}} </td>
      </ng-container>
  
      <!-- Weight Column -->
      <ng-container matColumnDef="updatedAt">
        <th mat-header-cell *matHeaderCellDef> Thời gian cập nhật </th>
        <td mat-cell *matCellDef="let element"> {{element.updatedAt | date: 'dd/MM/yyyy hh:mm:ss'}} </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  <mat-paginator
    *ngIf="paginationParams"
    (page)="handlePageEvent($event)"
    [length]="paginationParams.totalItems"
    [pageSize]="paginationParams.size"
    [pageIndex]="paginationParams.page"
    [pageSizeOptions]="pageSizeOptions"
    [showFirstLastButtons]="showFirstLastButtons"
    aria-label="Select page">
  </mat-paginator>
</ion-content>
