<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Quản lý bài viết</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment [(ngModel)]="selection" (ionChange)="segmentChanged()">
    <ion-segment-button value="product">
      <ion-label>Sản phẩm</ion-label>
    </ion-segment-button>
    <ion-segment-button value="other">
      <ion-label>Khác</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div class="post-container">
    <ion-list>
      <ion-item *ngFor="let posts of postses" (click)="navigatorToModify('update', posts)">
        <ion-label>
          Tên bài viết
        </ion-label>
        <span>{{ posts.name }}</span>
      </ion-item>
    </ion-list>
  </div>

  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button color="danger" (click)="navigatorToModify('insert', null)">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
