<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Xử lý đơn hàng</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ng-container *ngIf="order; else notFound">
        <div class="order-detail-container vertical-container">

            <div class="title">
                <span>
                    {{ 'Chi tiết đơn hàng #'+ order.code + ' - '}}
                    <span class="status" [ngClass]="order.status+'-status'">
                        {{ filterNameOrderStatus(order.status) }}
                    </span>
                </span>
            </div>

            <div class="height-space"></div>

            <div class="created-at">
                <span>{{ order.createdAt | date:'HH:mm dd/MM/yyyy' }}</span>
            </div>

            <div class="height-space"></div>

            <div class="customer-information" *ngIf="order.deliverTo as address">

                <div class="horizontal-container address-action">
                    <div>Giao tới</div>
                </div>
                <div class="mini-height-space"></div>
                <div class="horizontal-container customer-contact">
                    <div class="name">{{address.responsiblePerson + ' | ' + address.phoneNumber}}</div>
                </div>
                <div class="mini-height-space"></div>
                <div class="customer-address primary-key">
                    <span class="demo-2">{{ address.street }}</span>
                    <span class="demo-2">, </span>
                    <span class="demo-2">{{ address.ward.name }}</span>
                    <span class="demo-2">, </span>
                    <span class="demo-2">{{ address.district.name }}</span>
                    <span class="demo-2">, </span>
                    <span class="demo-2">{{ address.province.name }}</span>
                </div>
            </div>

            <div class="height-space"></div>

            <table mat-table [dataSource]="order.products">
                <!-- Name Column -->
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Sản phẩm </th>
                    <td mat-cell *matCellDef="let order; let i = index">
                        <div class="horizontal-container">
                            <div class="img-container">
                                <img src="{{order.thumbnailUrl | galleryRoute}}" [alt]="order.name"
                                    (click)="showDetail(order)">
                            </div>

                            <div class="micro-width-space"></div>

                            <div class="product-name horizontal-container">
                                {{order.name}}
                            </div>
                        </div>
                    </td>
                </ng-container>

                <!-- Price Column -->
                <ng-container matColumnDef="price">
                    <th mat-header-cell *matHeaderCellDef> Giá </th>
                    <td mat-cell *matCellDef="let order"> {{ order.price | currency:'VND':'symbol' | replaceSpace }}
                    </td>
                </ng-container>

                <!-- Quantity Column -->
                <ng-container matColumnDef="quantity">
                    <th mat-header-cell *matHeaderCellDef> Số lượng </th>
                    <td mat-cell *matCellDef="let order"> {{order.quantity}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <div class="height-space"></div>

            <div class="total-price-frame vertical-container">
                <!-- <div class="provisional horizontal-container">
                    <div class="primary-key">
                        Tạm tính
                    </div>
                    <div class="secondary-key">
                        {{ temporaryValue | currency:'VND':'symbol' | replaceSpace }}
                    </div>
                </div>
    
                <div class="height-space"></div> -->

                <div class="total-price horizontal-container">
                    <div class="primary-key">
                        Tổng tiền
                    </div>
                    <div class="secondary-key">
                        {{ order.totalValue | currency:'VND':'symbol' | replaceSpace }}
                    </div>
                </div>
            </div>

            <div class="height-space"></div>

            <div class="horizontal-container">
                <ion-button
                    size="small"
                    color="danger"
                    (click)="revokeOrder(order._id)"
                    [disabled]="order.status==='revoke' || order.status==='done'"
                >
                    <span>Hủy</span>
                </ion-button>

                <ion-button
                    *ngIf="order.status==='pending'"
                    size="small"
                    (click)="confirmOrder(order._id)"
                >
                    <span>Xác nhận</span>
                </ion-button>

                <ion-button
                    *ngIf="order.status==='confirmed'"
                    size="small"
                    (click)="isComingOrder(order._id)"
                >
                    <span>Đang vận chuyển</span>
                </ion-button>

                <ion-button
                    *ngIf="order.status==='isComing'"
                    size="small"
                    (click)="finish(order._id)"
                >
                    <span>Kết thúc</span>
                </ion-button>
            </div>

        </div>
    </ng-container>

    <ng-template #notFound>
        Không tìm thấy
    </ng-template>
</ion-content>