<div class="addresses-container">
  <ion-list>
    <ion-radio-group [(ngModel)]="isMain" (ionChange)="selectChange()">
      <ion-item *ngFor="let address of data.address; let i = index">
        <ion-label>{{ address.responsiblePerson }}</ion-label>
        <ion-radio slot="end" [value]="i"></ion-radio>
        <ion-button type="button" slot="end" (click)="remove(i)">
          <ion-icon slot="icon-only" name="remove-circle-outline"></ion-icon>
        </ion-button>
        <ion-button type="button" slot="end" (click)="modify('update', i)">
          <ion-icon slot="icon-only" name="pencil-outline"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-radio-group>
    <div class="add-rows-button horizontal-container">
      <button type="button" class="horizontal-container" (click)="modify('insert', null)">
        <ion-icon name="add-circle-outline"></ion-icon> Thêm địa chỉ
      </button>
    </div>
  </ion-list>
  
  <ion-button (click)="updateAddress()">Cập nhật địa chỉ</ion-button>
</div>