/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


.container{
    position: absolute;
    height: 100%;
    width: 100%;
}

.vertical-container{
    display: flex;
    flex-direction: column;
}

.horizontal-container{
    display: flex;
    flex-direction: row;
}

.width-space{
    width: 15px;
    min-width: 15px;
}

.height-space{
    height: 15px;
    min-height: 15px;
}

.mini-width-space{
    width: 10px;
    min-width: 10px;
}

.mini-height-space{
    height: 10px;
    min-height: 10px;
}

.img-container{
    width: 100%;
    padding-bottom: 66.66%;
    position: relative;
    img{
        position: absolute;
        display: block;
        width: 100%;
        max-height: 100%;
        object-fit: contain;
        cursor: pointer;
    }
}

.primary-key{
    color: #999999;
    --corlor: #999999;
}
.secondary-key{
    color: #333333;
    --corlor: #333333;
}

.toast-success{
    --background: #51A351;
    --color: white;
}

.toast-error{
    --background: #BD362F;
    --color: white;
}

.toast-warning{
    --background: #F89406;
    --color: white;
}

ion-list{
    ion-item{
        cursor: pointer;
    }
    ion-item:hover{
        --background: #ededed;
    }
}
.popover-content{
    --offset-bottom: auto!important;
    --overflow: hidden;
    overflow: auto;
    &::-webkit-scrollbar {
        display: none;
    }

    --width: 250px;
}
@media only screen and (min-width: 768px) and (min-height: 600px){
    .posts-modify-modal{
        --width: calc(100% - 30px);
        --height: calc(100% - 30px);
    }
}

.gallery-modal{
    .modal-wrapper{
        box-shadow: 0px 0px 15px 0px;
    }
}