<div class="rating-container horizontal-container">
    <div class="star-container horizontal-container" *ngIf="ratingValueFloor">
        <ng-container *ngFor="let star of totalNumberOfStars;">
            <ion-icon *ngIf="ratingValueFloor>star" name="star"></ion-icon>
            <ng-container *ngIf="ratingValueFloor===star">
                <ion-icon name="star"></ion-icon>
            </ng-container>
            <ng-container *ngIf="ratingValueFloor<star">
                <ng-container *ngIf="(star-ratingValue) as result">
                    <ion-icon [name]="result<.3 ? 'star' : (result>=.3 && result<=.7) ? 'star-half' : 'star-outline'"></ion-icon>
                </ng-container>
            </ng-container>
        </ng-container>
    </div>
    
    <ng-container *ngIf="ratingTitle">
        <div class="mini-width-space"></div>
        <div class="rating-title" >
            {{ ratingTitle }}
        </div>
    </ng-container>
</div>